:root{ /* Variables con los colores a usar en el documento*/
    --azulOscuro: #134678;
    --azulCLaro: #2980b9;
    --bordeAS: #134678;
    --celdas: #ecf0f1;
    --recreo: #f39c12;
    --textBlanco: white;
    --textNegro: black;
}
body{ /* Reseteo de margin y padding y ancho máximo de la página */
    margin: 0 auto;
    padding: 0;
    width: 1024px;
    height: 100vh;
    color: var(--textBlanco);
}
/* Estilos para el header */
header{
    background-color: var(--azulOscuro);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
}
header>div{
    display: flex;
    align-items: center;
}
nav{
    background-color: var(--azulOscuro);
    border-radius: 0px 0px 10px 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 40px;
    position: sticky;
    top: 0;
    z-index: 2000;
}
nav>ul{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
li>a{
    text-decoration: none;
    color: var(--textBlanco);
}
li>a:hover{
    color: var(--azulCLaro);
    text-decoration: underline;
}
li{
    list-style: none;
}


/* Estilos de iconos de enlaces a RRSS*/
#iconos{
    text-align: right;
}
#iconos a{
    font-size: 3.5em;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
    text-decoration: none;
}
#iconos a[class="fa-brands fa-github"]{
    color: var(--textNegro);
}
#iconos a[class="fa-brands fa-facebook"]{
    color: blue;
}
#iconos a[class="fa-brands fa-instagram"]{
    color: white;
    background-color: rgb(199, 0, 199);
}
#iconos a[class="fa-brands fa-x-twitter"]{
    color: var(--textNegro);
}
#iconos a[class="fa-brands fa-pinterest"]{
    color: rgb(161, 0, 0);
}
#iconos a[class="fa-brands fa-tiktok"]{
    color: var(--textNegro);
}
#iconos a[class="fa-solid fa-rss"]{
    color: rgb(228, 149, 2);
}

/* Estilos para los horarios */
main>section, main>section>article{
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--bordeAS);
    padding: 0px 10px 10px 10px;
}
section>h2{
    text-decoration: overline;
    color: var(--textNegro);
    text-transform: uppercase;
}
article>h3{
    color: var(--azulCLaro);
    text-align: center;
}
table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}
tr, td, th{
    border: none;
    height: 3em;
    text-align: center;
}
th{
    background-color: var(--azulCLaro);
}
td{
    background-color: var(--celdas);
}
td>abbr>b{
    color: var(--azulCLaro);
}
td>i{
    color: var(--textNegro);
}
td[colspan="5"]{
    background-color: var(--recreo);
    text-transform: uppercase;
    font-weight: bold;
}
article>footer{
    color: var(--textNegro);
    padding-top: 10px;
}
/* Uso de z-index para tener los horario apilados */
main>section>div{
    position: relative;
    width: 100%;
    height: 1100px;
}
main>section>div>article{
    width: 93%;
    border-radius: 15px;
    padding: 5px;
    position: absolute;
    left: 2em;
}
main>section>div>article:nth-child(1){
    background-color: rgb(212, 212, 212);
    top: 2em;
    z-index: 1;
}
main>section>div>article:nth-child(2){
    background-color: rgb(255, 160, 160);
    top: 6em;
    z-index: 2;
}
main>section>div>article:nth-child(3){
    background-color: rgb(255, 206, 159);
    top: 10em;
    z-index: 3;
}
main>section>div>article:nth-child(4){
    background-color: rgb(201, 255, 158);
    top: 14em;
    z-index: 4;
}
main>section>div>article:nth-child(5){
    background-color: rgb(167, 252, 255);
    top: 18em;
    z-index: 5;
}
main>section>div>article:nth-child(6){
    background-color: rgb(255, 177, 251);
    top: 22em;
    z-index: 6;
}
main>section>div>article:nth-child(7){
    background-color: rgb(255, 253, 159);
    top: 26em;
    z-index: 7;
}
main>section>div>article:nth-child(8){
    background-color: rgb(196, 189, 255);
    top: 30em;
    z-index: 8;
}
main>section>div>article:nth-child(9){
    background-color: rgb(201, 175, 136);
    top: 34em;
    z-index: 9;
}
main>section>div>article:hover{
    z-index: 1000;
}

/* Estilos para el footer */
body>footer{
    background-color: var(--azulOscuro);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer>table>caption{
    padding-bottom: 10px;
}
footer>table>tbody>tr>td{
    color: var(--azulCLaro);
    padding-left: 10px;
    text-transform: uppercase;
}
footer>table>thead>tr>th{
    padding-left: 10px;
}
body>footer a{
    text-decoration: none;
    color:aqua;
}
body>footer a:visited{
    text-decoration: none;
    color: yellowgreen;
}
#w3c{
    display: flex;
    justify-content: center;
}
#w3c>img{
    width: 50px;
}
/* Botón de la casa */
img[alt="botonCasa"]{
    width: 100px;
    position: fixed;
    left: 90%;
    bottom: 10px;
    z-index: 2000;
}
